header {
    padding: 0.55em 0 0;
    position: relative;
}

header::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    border-radius: 1000px;
    background-image: linear-gradient(to right, var(--green), var(--white));
}

.about {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    max-width: 600px;
    height: 100vh;
    background-color: var(--red-100);
    z-index: 1000;
    transform: translateX(calc(100vw + 10px));
    transition: 300ms ease;
}

.open-about {
    transform: translateX(0);
}

.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    text-decoration: none;
    color: var(--white);
    display: block;
    padding: 0.6em 0 1em;
    letter-spacing: 0.7px;
    border-bottom: 2px solid var(--violet);
    font-weight: bolder;
    font-size: 1.2rem;
}

.handburger-menu {
    position: relative;
    top: -5px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    gap: 6px;
    padding: 0 4px 0 0;
}

.handburger-menu:is(:hover, :focus) {
    cursor: pointer;
}

.handburger-menu .bar1 {
    width: 26px;
    border-radius: 0 0 0 2px;
    height: 3px;
    background-color: var(--white);
}

.handburger-menu .bar2 {
    width: 15px;
    border-radius: 0 0 0 2px;
    height: 3px;
    background-color: var(--white);
}
