header {
    padding: 1em 0 0;
}

header a {
    text-decoration: none;
    color: var(--white);
    display: block;
    padding: 0.6em 0 1em;
    letter-spacing: 0.7px;
    border-bottom: 2px solid var(--violet);
    font-weight: bolder;
    font-size: 1.2rem;
}

.header-intro {
    text-transform: uppercase;
    font-family: var(--inter);
    letter-spacing: 0.7px;
    font-size: 2.5rem;
    padding: 16px 0 0.25em;
    -webkit-text-stroke: 1.5px var(--white);
}

.violet {
    color: var(--violet);
    -webkit-text-stroke: 1.5px var(--violet);
}
