/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Nunito:wght@400;600&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Aldrich&family=Inter:wght@600&family=Nunito:wght@300;400;600&display=swap");

:root {
    --black: hsl(0, 0%, 0%);
    --black-100: hsl(0, 0%, 5%);
    --black-150: hsl(0, 0%, 9%);
    --black-200: hsl(0, 0%, 13%);
    --white: hsl(231, 27%, 86%);
    --violet: #c6b9ff;
    --inter: "Inter", sans-serif;
    --nunito: "Nunito", sans-serif;
    --aldrich: "Aldrich", sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    background: var(--black);
    color: var(--white);
    font-family: var(--nunito);
}

body {
    width: min(98%, 1440px);
    margin-inline: auto;
    overflow-x: hidden;
    min-height: 100vh;
}

button {
    outline: none;
    font-family: inherit;
}
